<html>
    <head>
        <title>BabaPlayers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/perfil.css">
    </head>
    <body>
        <h1>Baba Players</h1>
        <h2>Perfil</h2>
        <br>
        <div id="txt_nome"></div>
        <div id="txt_email"></div>
        <br>
        <div id="txt_posicao"></div>
        <br>
        <button id="btn_sair">Sair</button>
        
        <script src="../../domainLayer/models/usuario.js"></script>
        <script src="../../domainLayer/interactors/buscarInteractor.js"></script>
        <script src="../../dataLayer/repositories/usuarioRepository.js"></script>
        <script src="../../dataLayer/dataSources/localStorageDataSource.js"></script>
        <script src="../presenters/perfilPresenter.js"></script>
        <script src="../views/perfilView.js"></script>
    </body>
</html>